.welcome{
    font-size: 2.5em;
    background-color: hsl(102, 82%, 45%);
    margin: 0;
    color:white;
    padding: 10px;
    border-radius: 5px;
}

.login{
    font-size: 2.5em;
    background-color: hsl(0, 82%, 45%);
    margin: 0;
    color:white;
    padding: 10px;
    border-radius: 5px;
}