.list-category{
    font-size: 2.5em;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    background-color: hsl(180, 100%, 50%);
}
.list-items{
    text-align: center;
    list-style: none;
    font-size: 2em;
    color: hsl(0, 0%, 25%);
    margin: 0;
}
.list-items li:hover{
    cursor: pointer;
    color: hsl(0, 0%, 45%);
}
